
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: black;
    color: white;
}

span {
    color: #ad2f2f;
}

.news-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.news-container h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
}
.news-container h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    color: #ad2f2f;
    cursor: pointer;
}

.news-list {
    display: grid;
    gap: 30px;
}

.news-card {
    background: rgb(32, 32, 32);
    border: 1px solid #ad2f2f;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    gap: 20px;
    box-shadow: 0 0 15px rgba(173, 47, 47, 0.2);
}

.news-card img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.news-card h2 {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 10px;
}

.news-card p {
    color: #cccccc;
    font-size: 17px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .news-card {
        flex-direction: column;
        text-align: center;
    }

    .news-card img {
        width: 100%;
        height: 220px;
    }
}
